.container.mt-3
  %section.jumbotron.text-center
    - if @meeting.live?
      %h1.mb-3 Live Agenda: Propose your ideas below
    - else
      %h1.mb-3 Meeting Agenda
    %h3= @branch.name
    %h4= @meeting.time.to_s(:long_ordinal)

    - if @meeting.over?
      %p.lead.mb-0 Issues and comments are now locked

  = render "companies/select" if @meeting.live?


  .d-flex.justify-content-end.mb-1
    .dropdown
      %button.btn.btn-secondary.btn-sm.dropdown-toggle#orderby-button{ type: "button", data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false } }
        Order by
      .dropdown-menu.dropdown-menu-right.small{ "aria-labelledby": "#orderby-button" }
        = link_to "Number of votes", { order: "votes" }, class: "dropdown-item"
        = link_to "Number of comments", { order: "comments" }, class: "dropdown-item"
        = link_to "Date", { order: "comments" }, class: "dropdown-item"

  - @issues.each do |issue|
    - vote = issue.votes.find_by(session: session.id)
    .card.mb-4{ id: "issue-#{issue.id}" }
      .card-body
        .row.align-items-top
          .col-lg-8
            - if issue.company.present?
              %span.small Proposed by a worker from
              %span.badge.badge-light= issue.company.name
            %h2= issue.name

            = render "issues/vote", issue: issue, vote: vote if @meeting.live?
          .col-lg-4.text-center.pt-4.pt-lg-0
            .mt-1.text-center.chart-container
              = pie_chart(issue.vote_chart, legend: vote.present? ? "bottom" : false, height: "120px", width: "100px") if issue.votes.any?
              %p.small #{issue.vote_count} votes

        - if @meeting.live?
          %p.mb-0
            = link_to "#issues-#{issue.to_param}-footer",
              role: "button", data: { toggle: "collapse" },
              aria: { expanded: false, controls: "issues-comments-#{issue.to_param}" } do
              Join the discussion
              %small= "(#{issue.comments.size} comments)" if issue.comments.any?

      .card-footer{ id: "issues-#{issue.to_param}-footer", class: @meeting.live? ? "collapse" : "" }
        .row
          .col-lg-8
            = render "issues/comments", issue: issue, meeting: @meeting, vote: vote
          .col-lg-4
            %h6 Vote breakdown
            - issue.vote_companies.each do |company, count|
              .badge.badge-light #{company} (#{count})

= render "issues/propose" if @meeting.live?
