.container.mt-3
  %section.jumbotron.text-center
    - if @meeting.live?
      %h1.mb-3 Live Agenda: Propose your ideas below
    - else
      %h1.mb-3 Meeting Agenda
    %h3= @branch.name
    %h4= @meeting.time.to_s(:long_ordinal)

    - if @meeting.over?
      %p.lead.mb-0 Issues and comments are now locked

  = render "companies/select" if @meeting.live?

  - @meeting.issues.each do |issue|
    .card.mb-4
      .card-body
        .row
          .col-lg-8
            - if issue.company.present?
              %span.small Proposed by a representative of
              %span.badge.badge-light= issue.company.name
            %h2= issue.name
          .col-lg-4.text-center.pt-4.pt-lg-0
            - vote = issue.votes.find_by(session: session.id)
            - if @meeting.live? && vote.nil?
              - create_vote_url = branch_meeting_issue_votes_path(@branch, @meeting, issue)
              .d-flex.justify-content-between.mb-4
                = button_to "I agree", create_vote_url,
                  params: { vote: { status: "agree" } }, class: "btn btn-success btn-sm mr-1"
                = button_to "I sympathise", create_vote_url,
                  params: { vote: { status: "sympathise" } }, class: "btn btn-info btn-sm mr-1"
                = button_to "I disagree", create_vote_url,
                  params: { vote: { status: "disagree" } }, class: "btn btn-danger btn-sm mr-1"

            - if issue.vote_count.positive?
              .progress.w-100.mb-1
                - value = issue.vote_result(:agree)
                .progress-bar.bg-success{ role: "progressbar", aria: { valuenow: value, valuemin: 0, valuemax: 100 }, style: "width: #{value}%;" }
                  Agreed
                - value = issue.vote_result(:sympathise)
                .progress-bar.bg-info{ role: "progressbar", aria: { valuenow: value, valuemin: 0, valuemax: 100 }, style: "width: #{value}%;" }
                  Sympathised
                - value = issue.vote_result(:disagree)
                .progress-bar.bg-danger{ role: "progressbar", aria: { valuenow: value, valuemin: 0, valuemax: 100 }, style: "width: #{value}%;" }
                  Disagreed

            %p.small #{issue.vote_count} votes
            = button_to "Recast my vote", [@branch, @meeting, issue, vote], method: :delete, class: "btn btn-link btn-sm" if vote

            - issue.vote_companies.each do |company, count|
              .badge.badge-light #{company} (#{count})

      = render "issues/comments", issue: issue, meeting: @meeting

= render "issues/propose" if @meeting.live?
