.container.mt-3
  %section.jumbotron.text-center
    %h1.mb-3 Live Agenda: Propose your ideas below
    %h3= @branch.name
    %h4.mb-0= @meeting.time.to_s(:long_ordinal)

  %ul.list-group
    - @meeting.issues.each do |issue|
      %li.list-group-item
        .row
          .col-lg-8
            %h2= issue.name
            = render "issues/comments", issue: issue
          .col-lg-4.text-center
            - vote = issue.votes.find_by(session: session.id)
            - if issue.vote_count.positive?
              .progress.w-100.mb-1
                - value = issue.vote_result(:agree)
                .progress-bar.bg-success{ role: "progressbar", aria: { valuenow: value, valuemin: 0, valuemax: 100 }, style: "width: #{value}%;" }
                  Agreed
                - value = issue.vote_result(:sympathise)
                .progress-bar.bg-info{ role: "progressbar", aria: { valuenow: value, valuemin: 0, valuemax: 100 }, style: "width: #{value}%;" }
                  Sympathised
                - value = issue.vote_result(:disagree)
                .progress-bar.bg-danger{ role: "progressbar", aria: { valuenow: value, valuemin: 0, valuemax: 100 }, style: "width: #{value}%;" }
                  Disagreed

            %p.small #{issue.vote_count} votes
            = button_to "Recast my vote", [@branch, @meeting, issue, vote], method: :delete, class: "btn btn-link btn-sm" if vote

            - if vote.nil?
              - create_vote_url = branch_meeting_issue_votes_path(@branch, @meeting, issue)
              .d-flex.justify-content-between
                = button_to "I agree", create_vote_url,
                  params: { vote: { status: "agree" } }, class: "btn btn-success btn-sm mr-1"
                = button_to "I sympathise", create_vote_url,
                  params: { vote: { status: "sympathise" } }, class: "btn btn-info btn-sm mr-1"
                = button_to "I disagree", create_vote_url,
                  params: { vote: { status: "disagree" } }, class: "btn btn-danger btn-sm mr-1"
                -# = button_to "See result", create_vote_url,
                -#   params: { vote: { status: "abstain" } }, class: "btn btn-link btn-sm"

.container.mt-3
  .row.justify-content-center
    .col-md-6
      .card
        .card-header
          %h2.mb-0 Propose new issue
        .card-body
          = simple_form_for @new_issue, url: [@branch, @meeting, @new_issue] do |f|
            = f.input :name, class: "form-control"
            = f.submit "Submit", class: "btn btn-primary btn-block"
