.card-body
  - if meeting.live?
    .small
      = link_to "Discuss", "#issues-#{issue.to_param}",
        role: "button", data: { toggle: "collapse" }, aria: { expanded: false, controls: "issues-comments-#{issue.to_param}" }
      - if issue.comments.size.positive?
        (#{issue.comments.size} comments)

.card-footer{ id: "issues-comments-#{issue.to_param}", class: meeting.live? ? "collapse" : "" }
  %h6 Discussion
  - if issue.comments.any?
    %table.table.table-sm.small
      - issue.comments.order("created_at").each do |comment|
        %tr
          %td= comment.content
          %td= comment.company&.name
          %td= comment.created_at.to_s(:short)
  - else
    No comments
  - if meeting.live?
    = simple_form_for Comment.new, url: [issue.branch, issue.meeting, issue, :comments] do |f|
      .input-group
        = f.text_field :content, class: "form-control", placeholder: "Write a comment"
        .input-group-append
          = f.submit "Submit", class: "btn btn-primary"
