- if vote.nil?
  - create_vote_url = branch_meeting_issue_votes_path(issue.branch, issue.meeting, issue)
  .d-flex
    = button_to "I agree", create_vote_url,
      params: { vote: { status: "agree" } }, class: "btn btn-success btn-lg mr-1"
    = button_to "I sympathise", create_vote_url,
      params: { vote: { status: "sympathise" } }, class: "btn btn-info btn-lg mr-1"
    = button_to "I disagree", create_vote_url,
      params: { vote: { status: "disagree" } }, class: "btn btn-danger btn-lg mr-1"
- else
  .d-flex.align-items-center
    %p.lead.mb-0 You #{vote.status}.
    %small= button_to "Recast my vote", [@branch, @meeting, issue, vote], method: :delete, class: "btn btn-link btn-sm" if vote
