<!DOCTYPE html>
<html>
  <head>
    <title>IWGB</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="text-center m-3">
      <%= image_tag("logo.png", width: 150) %>
    </div>
    <% if flash.any? %>
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= { "notice" => "success", "error" => "danger" }[key] %>">
            <%= value %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
    <footer class="footer text-muted">
      <hr>
      <div class="container small">
        <p><%= image_tag("logo_footer.png", width: 100, alt: "IWGB") %></p>
      </div>
    </footer>
  </body>
</html>
