<!DOCTYPE html>
<html>
  <head>
    <title>IWGB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="text-center mt-3">
      <%= image_tag("logo.png", width: 150) %>
    </div>
    <%= yield %>
    <footer class="footer text-muted">
      <hr>
      <div class="container small">
        <p><%= image_tag("logo_footer.png", width: 100, alt: "IWGB") %></p>
      </div>
    </footer>
  </body>
</html>
